@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

html, body {
    height: 100%;
}

button {
    padding: 20px;
    border: 0.5px solid black;
    color: #ffffff;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
button:disabled {
    background-color: gray;
}

#zero {
    width: 180px;
}

.operator:focus,
.operand:focus {
    background-color: lightgreen;
}

.container-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: max-content;
    width: max-content;
    border: 15px solid black;
}

.button-wrapper {
    width: 366px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    gap: 2px;
}

.display-wrapper {
    background: #b2b9b7;
    width: 366px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    border: 3px solid #e3b261;
    border-bottom: 8px solid #e3b261; 

}

.display {
    font-size: 30px;
}

.operator,
.equals {
    background-color: red;
}

.operand {
    background-color: green;
}

.clear,
.delete,
.procent,
.decimal {
    background-color: blueviolet;
}
